/* hippeontainer utama */
.landing-container {
  display: flex;
  height: 100vh;
  transition: background-color 0.3s ease-in-out;
}

.light-mode {
  background-color: #e8eaf6;
  color: #8590cf;
}

.dark-mode {
  background-color: #1a202c;
  color: white;
}

/* sidebar */
.sidebar-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  gap: 20px;
  z-index: 1;
  width: 80px;
}

.wrapper{
  background-color: #E8EAF6;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.wrapper > a {
  color: #5c6bc0;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  text-align: center;
  background-color: #ffffff;
}

.wrapper-menu > button > img{
  width: 25px;
}

.wrapper-menu > button{
  display: flex;
  flex-direction: row;
  background-color: #E8EAF6;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.wrapper-home{
  background-color: #E8EAF6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.wrapper-home > a{
  background-color: #ffffff;
  padding: 3px;
  border-radius: 5px;
}

.wrapper-home > a > img{
  width: 25px;
  height: 25px;
}

.hide{
  display: none;
}

.openbar-container{
  z-index: 2;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  padding: 35px 15px 15px 15px;
}

.wrapper-hideside-menu > button > img{
  width: 30px;
}

.wrapper-hideside-menu > button > h4{
  font-size: 1.2rem;
}

.wrapper-hideside-menu > button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.wrapper-hideside-home > a {
  background-color: #E8EAF6;
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0px 10px;
  border-radius: 5px;
}

.wrapper-hideside-home > a > img{
  width: 28px;
  padding: 3px;
  border-radius: 5px;
  background-color: #ffffff;
}

.wrapper-hideside-home > a > h4{
  font-size: 0.9rem;
}

.wrapper-hideside > a{
  background-color: #E8EAF6;
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0px 10px;
  border-radius: 5px;
}

.wrapper-hideside > a > h1{
  color: #5c6bc0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
}

.wrapper-hideside > a > h4{
  font-size: 0.8rem;
  width: 130px;
}

/* Overlay untuk sidebar */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1500; /* Ensure it is above other content */
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.3s ease-in-out; /* Add transition for fading effect */
  pointer-events: none;
}

.overlay.visible {
  opacity: 1; /* Set opacity to 1 when visible */
  pointer-events: all;
}

/* Main content */
.main-content {
  flex: 1;
  padding-left: 80px;
}

.sidebar.open + .main-content {
  margin-left: 16rem;
}

.navbar {
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #8590cf;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 2rem;
  font-weight: medium;
}

.toggle-darkmode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: white;
  color: #3949AB;
  transition: background 0.3s;
  cursor: pointer;
}

.toggle-darkmode:hover {
  background-color: #9FA8DA;
}

.moon-icon {
  width: 36px;
  height: auto;
}


.content h2 {
  text-align: center;
  color: #989898;
}

.chiper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem;
  justify-content: space-around;
  text-align: center;
  gap: 40px;
}

.chiper-key {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #989898;
}

.chiper-key h2 {
  color: black;
  font-size: 1rem;
  font-weight: medium;
  text-align: start;
}

.key-title {
  display: flex;
  align-items: center;
  padding: 10px;
}

.icon-key {
  width: auto;
  height: 16px;
  padding-right: 8px;
}

.flex-container {
  display: grid;
  grid-row: 1fr 1fr 1fr;
}

.icon-arrow {
  font-size: 6rem;
  grid-row-start: 1;
  grid-row-end: 3;
}

.icon {
  width: 18px;
  height: auto;
  margin: 0px 0px 0px 5px;
}